// COLORS

$color-green: #68b738;
$color-lightgray: #f2f2f2;
$color-black: #000;
$color-white: #fff;

// TEXT
// $header-font-family: 'Oswald', sans-serif;
// $text-font-family: 'Oswald', sans-serif;
// $btn-font-famule: 'Oswald', sans-serif;

$h2-font-size: 36;
$h3-font-size: 16;
$text-font-size: 14
$btn-font-size: 14;

// $h2-line-height: 36px;
// $h3-line-height: 20px;
// $text-lint-height: 18px
// $btn-line-height: 18px;
